.about-container {
  @media screen and (min-width: 1024px) {
    padding: 0 128px;
  }
}

.about-title {
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 64px;
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: 1024px) {
    gap: 36px;
    flex-wrap: nowrap;
  }
}

.about-item {
  background-color: var(--cloud);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 20px 12px;
  box-shadow: 0 4px 4px 2px rgba(24, 24, 24, 0.15);
  border-radius: 12px;
  flex-basis: calc((100% - 16px) / 2);

  @media screen and (min-width: 1024px) {
    padding: 32px 16px;
    flex-basis: calc((100% - 72px) / 3);
  }
}

.about-icon {
  fill: var(--dark-green);
}

.about-item-text {
  text-align: center;
  font-weight: 400;
}
