:root {
  --green: #007734;
  --dark-green: #004708;
  --sienna: #d19c53;
  --dark-sienna: #b58037;
  --dark-grey: #181818;
  --grey: #2b2b2b;
  --light-grey: #959595;
  --cloud: #f5f5f5;
  --dark-grey-modal: rgba(24, 24, 24, 0.4);
  --clear-grey: rgba(43, 43, 43, 0.35);
  --dairy: #fcfcfc;
  --white: #fff;
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 768px) {
}
